<div class="container">
  <h1 class="text-center mt-4 text-light">Hero app</h1>

  <div class="row mt-4">
    <div class="col-md-3">
      <input type="text" class="form-control m-1" />
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control m-1" />
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control m-1" />
    </div>
    <div class="col-md-3">
      <button class="btn form-control m-1">CREATE</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card p-1">
        <img
          src="https://m.media-amazon.com/images/I/51rayl0HnRL._UF1000,1000_QL80_.jpg"
          class="card-img"
        />
        <div class="card-image">
          <h2 class="card-text">D.luffy</h2>
          <p>22</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-1">
        <img
          src="https://m.media-amazon.com/images/I/51rayl0HnRL._UF1000,1000_QL80_.jpg"
          class="card-img"
        />
        <div class="card-image">
          <h2 class="card-text">D.luffy</h2>
          <p>22</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-1">
        <img
          src="https://m.media-amazon.com/images/I/51rayl0HnRL._UF1000,1000_QL80_.jpg"
          class="card-img"
        />
        <div class="card-image">
          <h2 class="card-text">D.luffy</h2>
          <p>22</p>
        </div>
      </div>
    </div>
  </div>
</div>
